{% extends "adminbase.html" %}

{% block title %}Comments | Admin Panel{% endblock %}
{% block content %}
<div id="page-wrapper">
  <div class="ct">
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Comment On Post</th>
            <th>Username</th>
            <th width="300px;">Comments</th>
            <th>Keterangan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Comment di Post 1</td>
            <td>Sikamaru12</td>
            <td>Ruangan sejuk, nyaman banget</td>
            <td>
              <input type="button" value="Balas" id="btn5"/>
              <input type="button" value="Batal" id="btn5">
            </td>
          </tr>
          <tr>
            <td>Comment di Post 1</td>
            <td>Sikamaru12</td>
            <td>Ruangan sejuk, nyaman banget</td>
            <td></td>
          </tr>
          <tr>
            <td>Comment di Post 1</td>
            <td>Sikamaru12</td>
            <td>Ruangan sejuk, nyaman banget</td>
            <td></td>
          </tr>
          <tr>
            <td>Comment di Post 1</td>
            <td>Sikamaru12</td>
            <td>Ruangan sejuk, nyaman banget</td>
            <td></td>
          </tr>
          <tr>
            <td>Comment di Post 1</td>
            <td>Sikamaru12</td>
            <td>Ruangan sejuk, nyaman banget</td>
            <td></td>
          </tr>
          <tr>
            <td>Comment di Post 1</td>
            <td>Sikamaru12</td>
            <td>Ruangan sejuk, nyaman banget</td>
            <td></td>
          </tr>
          <tr>
            <td>Comment di Post 1</td>
            <td>Sikamaru12</td>
            <td>Ruangan sejuk, nyaman banget</td>
            <td></td>
          </tr>
          <tr>
            <td>Comment di Post 1</td>
            <td>Sikamaru12</td>
            <td>Ruangan sejuk, nyaman banget</td>
            <td></td>
          </tr>
          <tr>
            <td>Comment di Post 1</td>
            <td>Sikamaru12</td>
            <td>Ruangan sejuk, nyaman banget</td>
            <td></td>
          </tr>
          <tr>
            <td>Comment di Post 1</td>
            <td>Sikamaru12</td>
            <td>Ruangan sejuk, nyaman banget</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="pagination-centered">
        <ul class="pagination">
          <li class="arrow unavailable"><a href="">&laquo;</a></li>
          <li class="current"><a href="">Prev</a></li>
          <li><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li class="unavailable"><a href="">&hellip;</a></li>
          <li><a href="">12</a></li>
          <li><a href="">13</a></li>
          <li class="current"><a href="">Next</a></li>
          <li class="arrow"><a href="">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
