<!DOCTYPE html>
<html>
<head>
	<title>Login Admin</title>
	<link rel="stylesheet" type="text/css" href="/foundation-5.5.3/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="/foundation-5.5.3/css/customcss.css">
	<link href="/foundation-5.5.3/fonts/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<section>
	<div class="row atas1">
	  <div class="large-3 columns">
	    <p></p>
	  </div>

	  <div class="large-6 columns">
	    <h2>Admin Login</h2>
	    <div class="signup-panel">
	      <form action="/doAdminLogin" method="post">
	        <div class="row collapse">
	          <div class="small-2 columns ">
	            <span class="prefix"><i class="mdi mdi-email"></i></span>
	          </div>
	          <div class="small-10 columns ">
	            <input type="text" name="email" placeholder="Email Anda">
	          </div>
	        </div>
	        <div class="row collapse">
	          <div class="small-2 columns ">
	            <span class="prefix"><i class="mdi mdi-lock"></i></span>
	          </div>
	          <div class="small-10 columns ">
	            <input type="password" name="password" placeholder="Password">
	          </div>
	        </div>
	        <input type="submit" class="button expand" value="Daftar" />
	      </form>
	    </div>
	  </div>


	  <div class="large-3 columns">
	    <p></p>
	  </div>
	</div>
</section>
</body>
</html>