{% extends "adminbase.html" %}

{% block title %}Ubah Password | Admin Panel{% endblock %}
{% block content %}
<div id="page-wrapper">
  <div class="cr">
    <form>
      <div class="row">
        <div role="button" href="#" class="button profil">Edit Password
        </div>
      </div>
      <div class="row>">
        <div class="left">
          <img src="../admin/images/example5.jpg">
        </div>

        <div class="leftSide">
          <div class="row">
              <div class="large-12 columns">
                <label>Email
                  <input type="text" value="contoh@example.com" id="inp"/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Nama Panggilan
                  <input type="text" value="contoh@example.com" id="inp" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Pekerjaan
                  <input type="text" value="contoh@example.com" id="inp"/>
                </label>
              </div>
            </div>
           <div class="row">
              <div class="large-12 columns">
                <label>Password Lama
                  <input type="password" id="inp"/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Password Baru
                  <input type="password" id="inp"/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Konfirmasi Password
                  <input type="password"id="inp"/>
                </label>
              </div>
            </div>
                <div role="button" href="#" class="button btn7">Ubah Password</div>
                <a href="profil"><input type="button" value="Batal" id="btn"></a>
            </div>
          </div>          
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}