<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/foundation-5.5.3/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="/foundation-5.5.3/css/customcss.css">
	<link href="/foundation-5.5.3/fonts/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
	<script src="/foundation-5.5.3/js/jquery-2.2.3.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	 <!-- Bootstrap Core CSS -->
	<link href="/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="/admin/css/style.css" rel='stylesheet' type='text/css' />
	<!-- Graph CSS -->
	<link href="/admin/css/lines.css" rel='stylesheet' type='text/css' />
	<link href="/admin/css/font-awesome.css" rel="stylesheet"> 
	<!-- jQuery -->
	<script src="/admin/js/jquery.min.js"></script>
	<!----webfonts--->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
	<!---//webfonts--->  
	<!-- Nav CSS -->
	<link href="/admin/css/custom.css" rel="stylesheet">
	<!-- Metis Menu Plugin JavaScript -->
	<script src="/admin/js/metisMenu.min.js"></script>
	<script src="/admin/js/custom.js"></script>
	<!-- Graph JavaScript -->
	<script src="/admin/js/d3.v3.js"></script>
	<script src="/admin/js/rickshaw.js"></script>
</head>
<body>
	

    <script src="/foundation-5.5.3/js/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>

	<script src="/foundation-5.5.3/js/foundation.min.js"></script>
	<script src="/foundation-5.5.3/js/custom.js"></script>
	
	<script>
		$(document).foundation();
	</script>


	<div id="wrapper">
		{% include "admin/nav.html" %}

		{% block content %}
		{% endblock %}

		{% include "admin/footer.html" %}
	</div>
    <script src="/admin/js/bootstrap.min.js"></script>
</body>
</html>

