{% extends "index.html" %}

{% block title %}Beranda{% endblock %}

{% block cover %}
<ul class="example-orbit" data-orbit>
	<li>
		<img src="http://placehold.it/2000x750" alt="slide 1" />
		<div class="orbit-caption">
			Caption One.
		</div>
	</li>
	<li class="active">
		<img src="http://placehold.it/2000x750" alt="slide 2" />
		<div class="orbit-caption">
			Caption Two.
		</div>
	</li>
	<li>
		<img src="http://placehold.it/2000x750" alt="slide 3" />
		<div class="orbit-caption">
			Caption Three.
		</div>
	</li>
</ul>

{% endblock %}

{% block content %}
<div class="sec l1">
	<div class="row">
		<div class="large-12 columns text-center">
			<h2>Kupon Terbaru</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="large-4 columns card">
			<a href="#" class="th">
				<img src="http://placehold.it/2000x750" alt="" class="thumbnail">		
			</a>
			<h5>Note that we have set the box-sizing property to border-box. This makes sure that the padding and eventually borders are included in the total width and height of the elements.</h5>
			<p class="left">Rp.55.000,00</p>
			<a href="#" class="button expand">Buy</a>

		</div>
		<div class="large-4 columns card">
			<a href="#" class="th">
				<img src="http://placehold.it/2000x750" alt="" class="thumbnail">		
			</a>
			<h5>Note that we have set the box-sizing property to border-box. This makes sure that the padding and eventually borders are included in the total width and height of the elements.</h5>
			<p class="left">Rp.55.000,00</p>
			<a href="#" class="button expand">Buy</a>
		</div>
		<div class="large-4 columns card">
			<a href="#" class="th">
				<img src="http://placehold.it/2000x750" alt="" class="thumbnail">		
			</a>
			<h5>Note that we have set the box-sizing property to border-box. This makes sure that the padding and eventually borders are included in the total width and height of the elements.</h5>
			<p class="left">Rp.55.000,00</p>
			<a href="#" class="button expand">Buy</a>
		</div>
		
	</div>
	<div class="row">
		<div class="large-4 columns"><p></p></div>
		<div class="large-4 columns">
			<a href="#" class="button expand">Lihat lebih Banyak</a>
		</div>
		<div class="large-4 columns"><p></p></div>
	</div>
</div>
<div class="sec l2">
		<div class="row">
		<div class="large-12 columns text-center">
			<h2>Daftar Cafe & Restaurant</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="large-4 columns card">
			<a href="#" class="th">
				<img src="http://placehold.it/2000x750" alt="" class="thumbnail">		
			</a>
			<h5>Note that we have set the box-sizing property to border-box. This makes sure that the padding and eventually borders are included in the total width and height of the elements.</h5>
			<p class="left">Rp.55.000,00</p>
			<a href="#" class="button expand">Buy</a>

		</div>
		<div class="large-4 columns card">
			<a href="#" class="th">
				<img src="http://placehold.it/2000x750" alt="" class="thumbnail">		
			</a>
			<h5>Note that we have set the box-sizing property to border-box. This makes sure that the padding and eventually borders are included in the total width and height of the elements.</h5>
			<p class="left">Rp.55.000,00</p>
			<a href="#" class="button expand">Buy</a>
		</div>
		<div class="large-4 columns card">
			<a href="#" class="th">
				<img src="http://placehold.it/2000x750" alt="" class="thumbnail">		
			</a>
			<h5>Note that we have set the box-sizing property to border-box. This makes sure that the padding and eventually borders are included in the total width and height of the elements.</h5>
			<p class="left">Rp.55.000,00</p>
			<a href="#" class="button expand">Buy</a>
		</div>
		
	</div>
	<div class="row">
		<div class="large-4 columns"><p></p></div>
		<div class="large-4 columns">
			<a href="#" class="button expand">Lihat semua Cafe & Restaurant</a>
		</div>
		<div class="large-4 columns"><p></p></div>
	</div>
</div>
<div class="sec l3">
	<h1>Untuk Konten Bagian Kegtiga</h1>
</div>
{% endblock %}