<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="foundation-5.5.3/css/foundation.min.css">
</head>
<body>
	<div class="main-wrapper">
		<header>	
			{% include "nav.html" %}
			{% block cover %}
			{% endblock %}
		</header>
		<section>
			{% block content %}
			{% endblock %}
		</section>
		<footer>
			{% include "footer.html" %}
		</footer>
	</div>
	<script src="foundation-5.5.3/js/jquery-2.2.3.min.js"></script>
	<script src="foundation-5.5.3/js/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>