{% extends "index.html" %}

{% block title %}Tempat{% endblock %}

{% block cover %}
<div class="photo">
	<div class="place-coverImg" 
		style="background-image:url(/cafe-in-pisa-1514560.jpg)">
		<div class="row large-3 large-centered">
			<div class="logo">
				<img src="#">
				<h2>LOGO HERE</h2>
				<p>4 Ulasan</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="row">
		<div class="large-12 large-centered">
			<div class="left large-8">
				<div class="headCtn">
					<div class="titleCtn">
						<h2>{{ name }} {{ id }}</h1>
						<p>Jalan Setia Budi No. 432B Medan Sumatera Utara</p>
					</div>
					<div class="facility">
						<div class="item left">
							<img src="#">
							<p>WiFi</p>
						</div>
						<div class="item left">
							<img src="#">
							<p>WiFi</p>
						</div>
						<div class="item left">
							<img src="#">
							<p>WiFi</p>
						</div>
					</div>
				</div>
				<div class="mainCtn">
					
				</div>
			</div>
			<div class="right large-3">
				<div class="info">
					<p>Jam Buka 09.00 - 22.00</p>
				</div>
				<div class="contact">
					<ul>
						<li>Email</li>
						<li>Pin BB</li>
						<li>LINE ID</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}