{% extends "index.html" %}

{% block scriptAPI %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1NuSX2l9zO2Ya31HiBgIFPaShHu-Yrvk&callback=initMap"
	async defer></script>
<script src="/foundation-5.5.3/js/fsAPI.js"></script>
<script src="/foundation-5.5.3/js/mapApi.js"></script>
{% endblock %}

{% block title %}Tempat{% endblock %}

{% block cover %}

{% endblock %}

{% block content %}

<div class="photo">
	<div class="place-coverImg">
		<div id="map-canvas"></div>
	</div>
</div>
<div class="wrapper">
	<div id="resLbl">Hasil Pencarian : <span id="resName">{{ name }}</span></div>
	<div id="resLbl">Hasil Pencarian : <span id="resNamee">{{ lt }}</span></div>
	<div class="row">
	{% for item in data %}
	{% if item.local.address.match(name) == name %}
		<div class="large-4 columns card">
			<a href="#" class="th">
				<img src="http://placehold.it/2000x750" alt="" class="thumbnail">
			</a>
            <div id="photovenue">
               
            </div>
			<div class="row">
			<div class="columns">
			
			<h5 class="left">{{ item.local.companyname }}</h5>

			<h5 class="right">Ulasan</h5>
			</div>
			</div>
			<p>{{ item.local.address }}</p>
			<p class="left">Rp.55.000,00</p>
			<a href="#" class="button expand">Buy</a>
		</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}
