{% extends "index.html" %}

{% block title %}Beranda{% endblock %}

{% block cover %}
<ul class="example-orbit" data-orbit>
	<li>
		<div style="background: url(imgres/restaurant.jpg);" id="imgcap"></div>
		<div class="orbit-caption">
			Caption One.
		</div>
	</li>
	<li class="active">
		<div style="background: url(imgres/restaurant3.jpg);" id="imgcap"></div>
		<div class="orbit-caption">
			Caption Two.
		</div>
	</li>
	<li>
		<div style="background: url(imgres/restaurant2.jpg);" id="imgcap"></div>
		<div class="orbit-caption">
			Caption Three.
		</div>
	</li>
</ul>

{% endblock %}

{% block content %}
<div class="sec l1">
	<div class="row">
		<div class="large-12 columns text-center">
			<h2>Kupon Terbaru</h2>
			<hr>
		</div>
	</div>
	<div class="row content">
		{% for item in data1 %}
		<div class="large-4 columns card">
			<a href="#" class="th">
				<div style="background: url(imgres/restaurant.jpg);" id="imgcap2" class="thumbnail"></div>		
			</a>
			<h5>{{ item.local.namaMenu }}</h5>
			<p class="left">{{ item.local.hargaMenu }}</p>
			<a href="#" data-reveal-id="myModal{{ loop.index }}">
			<img src="imgres/MM_QRcode.png" alt="" class="imgqr"></a>
			<div id="myModal{{ loop.index }}" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
				<h2 id="modalTitle">Scan this QrCode!</h2>
				<div class="row large-12 imgqr" id="imgqr">
				<img src="imgres/MM_QRcode.png" alt=""></div>
				<p>Nama Menu 	: {{ item.local.namaMenu }}</p>
				<p>Harga Menu 	: {{ item.local.hargaMenu }}</p>
				<a class="close-reveal-modal" aria-label="Close">&#215;</a>
			</div>
			<a href="#" class="button expand">Buy</a>
		</div>
		{% else %}
		<div class="large-4 columns card">
			<h3>Nothing to Display</h3>
		</div>
		{% endfor %}
		<div class="large-4 columns"></div>
		
	</div>
	<div class="row">
		<div class="large-12 columns">
			<a href="#" class="button expand btnnext">Lihat lebih Banyak</a>
		</div>
	</div>
</div>
<div class="sec l2">
	<div class="row">
		<div class="large-12 columns text-center">
			<h2 id="title">Daftar Cafe & Restaurant</h2>
			<hr>
		</div>
	</div>
	<div class="row content">
		{% for item in data2 %}
		<div class="large-4 columns card">
			<a href="#" class="th">
				<div style="background: url(imgres/restaurant1.jpg);" id="imgcap2" class="thumbnail"></div>		
			</a>
			<div class="row">
				<div class="columns">
					<h5 class="left">{{ item.admin.adminname }}</h5>
					<h5 class="right">Ulasan</h5>
				</div>
			</div>
			<p></p>
			<a href="/place/{{ item.admin.adminname }}/{{ item.admin._id }}" 
				class="button expand">Kunjungi</a>
		</div>
		{% else %}
		<div class="large-4 columns">
			<h3><center>Nothing to Display</center></h3>
		</div>
		{% endfor %}
		<div class="large-4 columns card"></div>
		
	</div>
	<div class="row">
		<div class="large-12 columns">
			<a href="#" class="button expand btnnext">Lihat semua Cafe & Restaurant</a>
		</div>
	</div>
</div>
{% endblock %}