{% extends "index.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div id="map-canvas"></div>
<div class="row atas1">
  <div class="large-3 columns">
    <p></p>
  </div>

  <div class="large-6 columns">
    <div class="signup-panel">
      <form action="/loginp" method="post">
        <div class="row collapse">
          <div class="small-2 columns ">
            <span class="prefix"><i class="mdi mdi-email"></i></span>
          </div>
          <div class="small-10 columns ">
            <input type="text" name="email" placeholder="Email Anda">
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns ">
            <span class="prefix"><i class="mdi mdi-lock"></i></span>
          </div>
          <div class="small-10 columns ">
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <input type="submit" class="button expand" value="Masuk" />
      </form>
    </div>
  </div>


  <div class="large-3 columns">
    <p></p>
  </div>
</div>


{% endblock %}
