{% extends "index.html" %}

{% block title %}User{% endblock %}



{% block content %}

<div class="sec l1">
	<li>
		<div style="background: url(/user-cover.jpg);" id="imgcap"></div>
		
	</li>
	<div class="pain row large-11">
		<div class="">
			<div class="navUser">
				<div class="uLeft">
					<div class="uImg">
						<img src="example5.jpg">
					</div>

					<div class="uName">
						<p class="name">Sikamaru Sitzhuka</p>
						<p class="email">Email : sikamaru@gmail.com</p>
					</div>

					<div class="edit">
						<a href="#"><i class="mdi mdi-pencil mdi-36px"></i></a>
					</div>
					
				</div>

				<div class="uRight">

						<i class="mdi mdi-coffee mdi-36px"></i>

						<p class="follow"> 200 </p>
				</div>

				
			</div>
		</div>
		<div class="">
			<div class="large-12 columns text-center">
				<h2>Kupon Terbaru</h2>
				<hr>
			</div>
		</div>
		<div class="content">
			<div class="large-4 columns card">
				<a href="#" class="th">
					<div style="background: url(http://placehold.it/2000x750);" id="imgcap2" class="thumbnail"></div>		
				</a>
				<h5>Note that we have set the box-sizing property to border-box. This makes sure that the padding and eventually borders are included in the total width and height of the elements.</h5>
				<p class="left">Rp.55.000,00</p><a href="#" data-reveal-id="myModal"><img src="/MM_QRcode.png" alt="" class="imgqr"></a>
				<div id="myModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
					<h2 id="modalTitle">Scan this QrCode!</h2>
					<div class="row large-12 imgqr" id="imgqr"><img src="/MM_QRcode.png" alt=""></div>
					<p>Nama Menu 	:</p>
					<p>Harga Menu 	:</p>
					<a class="close-reveal-modal" aria-label="Close">&#215;</a>
				</div>
				<a href="#" class="button expand">Buy</a>

			</div>
			<div class="large-4 columns card">
				<a href="#" class="th">
					<div style="background: url(http://placehold.it/2000x750);" id="imgcap2" class="thumbnail"></div>		
				</a>
				<h5>Note that we have set the box-sizing property to border-box. This makes sure that the padding and eventually borders are included in the total width and height of the elements.</h5>
				<p class="left">Rp.55.000,00</p> <a href="#"><img src="/MM_QRcode.png" alt="" class="imgqr"></a>
				<a href="#" class="button expand">Buy</a>
			</div>
			<div class="large-4 columns card">
				<a href="#" class="th">
					<div style="background: url(http://placehold.it/2000x750);" id="imgcap2" class="thumbnail"></div>	
				</a>
				<h5>Note that we have set the box-sizing property to border-box. This makes sure that the padding and eventually borders are included in the total width and height of the elements.</h5>
				<p class="left">Rp.55.000,00</p><a href="#"><img src="/MM_QRcode.png" alt="" class="imgqr"></a>
				<a href="#" class="button expand">Buy</a>
			</div>
			
		</div>
		<div class="row">
			<div class="large-4 columns"><p></p></div>
			<div class="large-4 columns">
				<a href="#" class="button expand">Lihat lebih Banyak</a>
			</div>
			<div class="large-4 columns"><p></p></div>
		</div>
	
</div>
<div class="sec l2">
	<div class="pain row large-11">
		<div class="">
		<div class="large-12 columns text-center">
			<h2>Daftar Cafe & Restaurant</h2>
			<hr>
		</div>
	</div>
	<div class="">
		<div class="large-4 columns card">
			<a href="#" class="th">
				<div style="background: url(http://placehold.it/2000x750);" id="imgcap2" class="thumbnail"></div>		
			</a>
			<div class="">
			<div class="columns">
			<h5 class="left">KongBox</h5>
			<h5 class="right">Ulasan</h5>
			</div>
			</div>
			<p>Jl.DoctorMansur , Medan</p>
			<a href="#" class="button expand">Kunjungi</a>

		</div>
		<div class="large-4 columns card">
			<a href="#" class="th">
				<div style="background: url(http://placehold.it/2000x750);" id="imgcap2" class="thumbnail"></div>		
			</a>
			<div class="">
			<div class="columns">
			<h5 class="left">KongBox</h5>
			<h5 class="right">Ulasan</h5>
			</div>
			</div>
			<p>Jl.DoctorMansur , Medan</p>
			<a href="#" class="button expand">Kunjungi</a>
		</div>
		<div class="large-4 columns card">
			<a href="#" class="th">
				<div style="background: url(http://placehold.it/2000x750);" id="imgcap2" class="thumbnail"></div>	
			</a>
			<div class="">
			<div class="columns">
			<h5 class="left">KongBox</h5>
			<h5 class="right">Ulasan</h5>
			</div>
			</div>
			<p>Jl.DoctorMansur , Medan</p>
			<a href="#" class="button expand">Kunjungi</a>
		</div>
		
	</div>
	<div class="row">
		<div class="large-4 columns"><p></p></div>
		<div class="large-4 columns">
			<a href="#" class="button expand">Lihat semua Cafe & Restaurant</a>
		</div>
		<div class="large-4 columns"><p></p></div>
	</div>
</div>
</div>
{% endblock %}